html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: grey;
}

#canvas-container {
    position: relative;
    height: 100%;
}

canvas {
    background-color: aqua;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}